{% extends 'todoapp/base.html' %}
{% block content %}
  <div class="header">
    <a href="{% url 'tasks' %}" style="color: white;">戻る</a>
  </div>
  
  <table>
    <tr>
      <th>タスク名</th>
      <td>{{ task.title }}</td>
    </tr>
    <tr>
      <th>担当</th>
      <td>{{ task.user }}</td>
    </tr>
    <tr>
      <th>作成日時</th>
      <td>{{ task.createdDate }}</td>
    </tr>
    <tr>
      <th>説明</th>
      <td>{{ task.description }}</td>
    </tr>
    <tr>
      <th>完了フラグ</th>
      <td>{{ task.completed }}</td>
    </tr>
  </table>
{% endblock %}
